<%- include("header") -%>
    <div class="box" id="heading">
    <h1>it's a <%=KindOfDay %></h1>
</div>
   <div class="box">
       <% for(var i=0;i<NewListItem.length; i++){%>
        <div class="item">
            <input type="checkbox">
      <p><%=NewListItem[i] %></p>
        </div>
       <% }%>
    
    <form class="item" action="/" method="post">
    <input type="text" name="add" placeholder=" Add New Item">
        <button type="submit" name="submit">+</button>
    </form>
    </div>
<%- include("footer") -%>